.services__container {
  display: flex;
  width: 500px;

}

.Services-Items {
  text-decoration: line-through;
}

@media only screen and (max-width: 992px) {
  .services__container {
    flex-direction: column;
    align-items: unset;
  }

  .service__title h3 {
    font-size: 1.3rem;
  }
}
